{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".idlintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    }
  ],
  "bracketSpacing": false,
  "singleQuote": true
}
