/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ad7070;
  --ifm-color-primary-dark: #a16868;
  --ifm-color-primary-darker: #945e5e;
  --ifm-color-primary-darkest: #805252;
  --ifm-color-primary-light: #bb7878;
  --ifm-color-primary-lighter: #cc8484;
  --ifm-color-primary-lightest: #d18787;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
